body {
    font-family: Arial,  serif; /* Familia de fuentes */
    font-size: 17px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #060886; /* El color del fondo de la página web */
    color: #ffffff; /* El color del texto*/ 
}
h1 {
    color: #b10303; /* El color de la cabecera */
    font-size: 30px; /* El tamaño de la fuente de la cabecera */
    font-family: Arial, Helvetica, sans-serif; /* La familia tipográfica utilizada en la cabecera */
}
h2 {
    color: #b10303; /* El color de la cabecera */
    font-size: 25px; /* El tamaño de la fuente de la cabecera */
    font-family: Arial, Helvetica, sans-serif; /* La familia tipográfica utilizada en la cabecera */
}
li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #ffffff;
}